@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala&display=swap');


p{
    margin: 15px;
    text-align: justify;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-size: 100%;
    background: linear-gradient(68.15deg, #2F2325 16.62%, #8E5D52 85.61%);
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}
.header-logo {
    height: 72px;
}

.header-menu {
    display: flex;
    gap: 32px;
}

.header-menu-links {
    font-family: 'Sarala', sans-serif;
    color: #FFF2EF;
    font-weight: 400;
    font-size: 18px;
}

.header-menu-links:hover {
    color:rgba(243, 196, 157, 0.53);
}

.conteudo {
    margin-bottom: 48px;
    border-top: 0.4px solid #FFF2EF
}

.conteudo-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.conteudo-principal-escrito {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.conteudo-principal-escrito-titulo {
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 64px;
    color: #FFF2EF;
}

.conteudo-principal-escrito-subtitulo {
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #ECD6C4;
}

.conteudo-principal-escrito-botao {
    background-color: #ECD6C4;
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    cursor: pointer;
    color: #2F2325;
    width: 185px;
    height: 60px;
    border-radius: 20px;
    border: none;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
}

.conteudo-principal-escrito-botao:hover {
    background-color: rgba(243, 196, 157, 0.53);
}

.conteudo-principal-imagem {
    height: 420px;
}

.conteudo-secundario {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;    
}

.conteudo-secundario-titulo {
    border-top: 0.4px solid #FFF2EF;
    padding-top: 48px;
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 24px;
    color: #FFF2EF;
    margin-bottom: 16px ;
}

.conteudo-secundario-paragrafo {
    font-family: 'Sarala', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #ECD6C4;
}

.rodape {
    padding: 32px;
    border-top: 0.4px solid #FFF2EF;
}

.rodape-imagem {
    height: 48px;
    display: block;
    margin: 0 auto;
}

/* RESPONSIVO */

@media (min-width: 769px) and (max-width: 1024px) {
    /* HEADER */
    .header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        padding: 22px;
    }
    .header-logo {
        height: 58px;
    }
    
    .header-menu {
        display: flex;
        gap: 26px;
    }
    
    .header-menu-links {
        font-family: 'Sarala', sans-serif;
        color: #FFF2EF;
        font-weight: 200;
        font-size: 16px;
    }
    
    .header-menu-links:hover {
        color:rgba(243, 196, 157, 0.53);
    }
    /* END HEADER */

    /* MAIN */
    .conteudo {
        margin-bottom: 48px;
        border-top: 0.4px solid #FFF2EF
    }
    
    .conteudo-principal {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: space-around;
    }
    
    .conteudo-principal-escrito {
        display: flex;
        flex-direction: column;
        gap: 32px;
    }
    
    .conteudo-principal-escrito-titulo {
        font-family: 'Righteous', cursive;
        font-weight: 400;
        font-size: 58px;
        color: #FFF2EF;
        text-align: center;
    }
    
    .conteudo-principal-escrito-subtitulo {
        font-family: 'Sarala', sans-serif;
        font-weight: 400;
        font-size: 22px;
        color: #ECD6C4;
    }
    
    .conteudo-principal-escrito-botao {
        margin: 0 auto;
        background-color: #ECD6C4;
        font-family: 'Sarala', sans-serif;
        font-weight: 400;
        font-size: 22px;
        cursor: pointer;
        color: #2F2325;
        width: 185px;
        height: 60px;
        border-radius: 20px;
        border: none;
        box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    }
    
    .conteudo-principal-escrito-botao:hover {
        background-color: rgba(243, 196, 157, 0.53);
    }
    
    .conteudo-principal-imagem {
        height: 420px;
    }
    
    /* END MAIN */

    /* SECONDARY */
    .conteudo-secundario {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        margin-top: 42px;    
    }
    
    .conteudo-secundario-titulo {
        border-top: 0.4px solid #FFF2EF;
        padding-top: 42px;
        font-family: 'Righteous', cursive;
        font-weight: 400;
        font-size: 26px;
        color: #FFF2EF;
        margin-bottom: 16px ;
    }
    
    .conteudo-secundario-paragrafo {
        font-family: 'Sarala', sans-serif;
        font-weight: 300;
        font-size: 18px;
        color: #ECD6C4;
    }
    /* END SECUNDARY */
    
    /* FOOTER */
    .rodape {
        padding: 28px;
        border-top: 0.4px solid #FFF2EF;
    }
    
    .rodape-imagem {
        height: 44px;
        display: block;
        margin: 0 auto;
    }
    
    /* END FOOTER */
}

@media (min-width: 545px) and (max-width: 768px) {
    /* HEADER */
    .header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        padding: 16px;
    }
    .header-logo {
        height: 50px;
    }
    
    .header-menu {
        display: flex;
        gap: 16px;
    }
    
    .header-menu-links {
        font-family: 'Sarala', sans-serif;
        color: #FFF2EF;
        font-weight: 200;
        font-size: 15px;
    }
    
    .header-menu-links:hover {
        color:rgba(243, 196, 157, 0.53);
    }
    /* END HEADER */

    /* MAIN */
    .conteudo {
        margin-bottom: 48px;
        border-top: 0.4px solid #FFF2EF
    }
    
    .conteudo-principal {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: space-around;
    }
    
    .conteudo-principal-escrito {
        display: flex;
        flex-direction: column;
        gap: 32px;
    }
    
    .conteudo-principal-escrito-titulo {
        font-family: 'Righteous', cursive;
        font-weight: 400;
        font-size: 60px;
        color: #FFF2EF;
        text-align: center;
    }
    
    .conteudo-principal-escrito-subtitulo {
        font-family: 'Sarala', sans-serif;
        font-weight: 400;
        font-size: 22px;
        color: #ECD6C4;
    }
    
    .conteudo-principal-escrito-botao {
        margin: 0 auto;
        background-color: #ECD6C4;
        font-family: 'Sarala', sans-serif;
        font-weight: 400;
        font-size: 22px;
        cursor: pointer;
        color: #2F2325;
        width: 185px;
        height: 60px;
        border-radius: 20px;
        border: none;
        box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    }
    
    .conteudo-principal-escrito-botao:hover {
        background-color: rgba(243, 196, 157, 0.53);
    }
    
    .conteudo-principal-imagem {
        height: 350px;
    }
    
    /* END MAIN */

    /* SECONDARY */
    .conteudo-secundario {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        margin-top: 42px;    
    }
    
    .conteudo-secundario-titulo {
        border-top: 0.4px solid #FFF2EF;
        padding-top: 42px;
        font-family: 'Righteous', cursive;
        font-weight: 400;
        font-size: 22px;
        color: #FFF2EF;
        margin-bottom: 16px ;
    }
    
    .conteudo-secundario-paragrafo {
        font-family: 'Sarala', sans-serif;
        font-weight: 300;
        font-size: 16px;
        color: #ECD6C4;
    }
    /* END SECUNDARY */
    
    /* FOOTER */
    .rodape {
        padding: 28px;
        border-top: 0.4px solid #FFF2EF;
    }
    
    .rodape-imagem {
        height: 38px;
        display: block;
        margin: 0 auto;
    }
    
    /* END FOOTER */
}

@media (min-width: 395px) and (max-width: 544px) {
    .header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        padding: 12px;
    }
    .header-logo {
        height: 42px;
    }
    
    .header-menu {
        display: flex;
        gap: 12px;
    }
    
    .header-menu-links {
        font-family: 'Sarala', sans-serif;
        color: #FFF2EF;
        font-weight: 200;
        font-size: 12px;
    }
    
    .header-menu-links:hover {
        color:rgba(243, 196, 157, 0.53);
    }

    /* END HEADER */

    /* MAIN */
    .conteudo {
        margin-bottom: 48px;
        border-top: 0.4px solid #FFF2EF
    }
    
    .conteudo-principal {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: space-around;
    }
    
    .conteudo-principal-escrito {
        display: flex;
        flex-direction: column;
        gap: 32px;
    }
    
    .conteudo-principal-escrito-titulo {
        font-family: 'Righteous', cursive;
        font-weight: 400;
        font-size: 56px;
        color: #FFF2EF;
        text-align: center;
    }
    
    .conteudo-principal-escrito-subtitulo {
        font-family: 'Sarala', sans-serif;
        font-weight: 400;
        font-size: 1.1em;
        color: #ECD6C4;
    }
    
    .conteudo-principal-escrito-botao {
        margin: 0 auto;
        background-color: #ECD6C4;
        font-family: 'Sarala', sans-serif;
        font-weight: 400;
        font-size: 20px;
        cursor: pointer;
        color: #2F2325;
        width: 185px;
        height: 60px;
        border-radius: 20px;
        border: none;
        box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    }
    
    .conteudo-principal-escrito-botao:hover {
        background-color: rgba(243, 196, 157, 0.53);
    }
    
    .conteudo-principal-imagem {
        height: 300px;
    }
    
    /* END MAIN */

    /* SECONDARY */
    .conteudo-secundario {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 18px;
        margin-top: 38px;    
    }
    
    .conteudo-secundario-titulo {
        border-top: 0.4px solid #FFF2EF;
        padding-top: 38px;
        font-family: 'Righteous', cursive;
        font-weight: 400;
        font-size: 20px;
        color: #FFF2EF;
        margin-bottom: 16px ;
    }
    
    .conteudo-secundario-paragrafo {
        font-family: 'Sarala', sans-serif;
        font-weight: 300;
        font-size: 16px;
        color: #ECD6C4;
    }
    /* END SECUNDARY */
    
    /* FOOTER */
    .rodape {
        padding: 24px;
        border-top: 0.4px solid #FFF2EF;
    }
    
    .rodape-imagem {
        height: 32px;
        display: block;
        margin: 0 auto;
    }
    
    /* END FOOTER */
}

@media (max-width: 394px) {
    .header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        padding: 06px;
    }
    .header-logo {
        height: 30px;
    }
    
    .header-menu {
        display: flex;
        gap: 08px;
    }
    
    .header-menu-links {
        font-family: 'Sarala', sans-serif;
        color: #FFF2EF;
        font-weight: 200;
        font-size: 10px;
    }
    
    .header-menu-links:hover {
        color:rgba(243, 196, 157, 0.53);
    }
    /* END HEADER */
    
    /* MAIN */
    .conteudo {
        margin-bottom: 48px;
        border-top: 0.4px solid #FFF2EF
    }
    
    .conteudo-principal {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: space-around;
    }
    
    .conteudo-principal-escrito {
        display: flex;
        flex-direction: column;
        gap: 22px;
    }
    
    .conteudo-principal-escrito-titulo {
        font-family: 'Righteous', cursive;
        font-weight: 400;
        font-size: 50px;
        color: #FFF2EF;
        text-align: center;
    }
    
    .conteudo-principal-escrito-subtitulo {
        font-family: 'Sarala', sans-serif;
        font-weight: 400;
        font-size: 14px;
        color: #ECD6C4;
    }
    
    .conteudo-principal-escrito-botao {
        margin: 0 auto;
        background-color: #ECD6C4;
        font-family: 'Sarala', sans-serif;
        font-weight: 400;
        font-size: 18px;
        cursor: pointer;
        color: #2F2325;
        width: 155px;
        height: 50px;
        border-radius: 20px;
        border: none;
        box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    }
    
    .conteudo-principal-escrito-botao:hover {
        background-color: rgba(243, 196, 157, 0.53);
    }
    
    .conteudo-principal-imagem {
        height: 250px;
    }
    
    /* END MAIN */

    /* SECONDARY */
    .conteudo-secundario {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        margin-top: 36px;    
    }
    
    .conteudo-secundario-titulo {
        border-top: 0.4px solid #FFF2EF;
        padding-top: 24px;
        font-family: 'Righteous', cursive;
        font-weight: 400;
        font-size: 20px;
        color: #FFF2EF;
        margin-bottom: 10px ;
    }
    
    .conteudo-secundario-paragrafo {
        font-family: 'Sarala', sans-serif;
        font-size: 16px;
        color: #ECD6C4;
    }
    /* END SECUNDARY */
    
    /* FOOTER */
    .rodape {
        padding: 20px;
        border-top: 0.4px solid #FFF2EF;
    }
    
    .rodape-imagem {
        height: 28px;
        display: block;
        margin: 0 auto;
    }
    
    /* END FOOTER */
}